# ============================================================================
# Dependabot Configuration (2026 Q1)
#
# Automatically keep dependencies up to date.
# ============================================================================

version: 2
updates:
  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "buenhyden"

  # Docker - Check Dockerfiles and docker-compose
  - package-ecosystem: "docker"
    directory: "/infra"
    schedule:
      interval: "weekly"
    reviewers:
      - "buenhyden"
