.history/
.vscode/
.mypy_cache/
.pytest_cache/
.agent/rules/
.github/instructions/
.github/agents/
.github/prompts/
# Archive
archive/seaweedfs/config/security.toml
archive/Terrakube/certs/*.pem
archive/supabase/.env
archive/클라우드_취약점_점검_가이드.pdf
archive/Infisical Emergency Kit.pdf
# Cert
certs/*.pem
# Document

# Example
examples/.env
examples/harbor
examples/keycloak
examples/hosts.txt

# Infra Configure Files related to secrets
infra/.env
infra/mail/certs/*.pem
infra/mng-db/init-scripts/init_users_dbs.sql
infra/nginx/certs/*.pem
infra/oauth2-proxy/certs/*.pem
infra/oauth2-proxy/config/oauth2-proxy.cfg
infra/observability/alertmanager/config/config.yml
infra/observability/alloy/config/config.alloy
infra/observability/loki/config/loki-config.yaml
infra/observability/prometheus/config/alert_rules.yml
infra/observability/prometheus/config/alert_rules.k8s.yml
infra/observability/prometheus/config/prometheus.yml
infra/observability/tempo/config/tempo.yaml
infra/opensearch/certs/*.pem
infra/postgresql-cluster/init-scripts/init_users_dbs.sql
infra/postgresql-cluster/config/haproxy.cfg
infra/redis-cluster/config/redis.conf
infra/storybook/react-js/node_modules
infra/storybook/react-ts/node_modules
infra/traefik/certs/*.pem
infra/traefik/config/traefik.yml
infra/traefik/dynamic/middleware.yml
infra/traefik/dynamic/tls.yaml

infra/**/.env
infra/**/.env.*
# SSH
projects/.ssh
# secrets
secrets/*.txt





