name: influxdb

x-logging: &default-logging
  driver: 'json-file'
  options:
    max-size: '5m'
    max-file: '2'

volumes:
  influxdb-data:
    # driver: local
    # driver_opts:
    #   o: bind
    #   type: none
    #   device: ${DEFAULT_INFLUXDB_DIR}/data

services:
  influxdb:
    profiles:
      - influxdb
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
        reservations:
          memory: 512M
    image: influxdb:2.8
    container_name: influxdb
    restart: unless-stopped
    hostname: influxdb
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'curl -fsS http://localhost:${INFLUXDB_PORT}/health || wget -q --spider http://localhost:${INFLUXDB_PORT}/health || exit 1',
        ]
      interval: 15s
      timeout: 30s
      retries: 5
      start_period: 30s
    environment:
      - INFLUXDB_DB=${INFLUXDB_DB_NAME}
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_USERNAME}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_BUCKET}
    command: >
      bash -c "
      export DOCKER_INFLUXDB_INIT_PASSWORD=$$(cat /run/secrets/influxdb_password) &&
      export DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=$$(cat /run/secrets/influxdb_api_token) &&
      exec influxd
      "
    secrets:
      - influxdb_password
      - influxdb_api_token
    # ports:
    #   - ${INFLUXDB_HOST_PORT}:${INFLUXDB_PORT}
    volumes:
      - influxdb-data:/var/lib/influxdb2:rw
    networks:
      infra_net:
        ipv4_address: 172.19.0.11
    labels:
      - 'traefik.enable=true'
      # 도메인: influxdb.${DEFAULT_URL}
      - 'traefik.http.routers.influxdb.rule=Host(`influxdb.${DEFAULT_URL}`)'
      - 'traefik.http.routers.influxdb.entrypoints=websecure'
      - 'traefik.http.routers.influxdb.tls=true'
      - 'traefik.http.services.influxdb.loadbalancer.server.port=${INFLUXDB_PORT}'
    logging: *default-logging

secrets:
  influxdb_password:
    external: true
  influxdb_api_token:
    external: true
