name: sonarqube
services:
  sonarqube:
    profiles:
      - sonarqube
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1G
    image: sonarqube:26.1.0.118079-community
    container_name: sonarqube
    hostname: sonarqube
    restart: unless-stopped
    expose:
      - ${SONARQUBE_PORT}
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost:${SONARQUBE_PORT}/api/system/health || exit 1"]
      interval: 15s
      timeout: 5s
      retries: 10
      start_period: 60s
    volumes:
      - sonarqube-data-volume:/opt/sonarqube/data
      - sonarqube-logs-volume:/opt/sonarqube/logs
    networks:
      - infra_net
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://${POSTGRES_HOSTNAME}:${POSTGRES_PORT}/${SONARQUBE_DBNAME}
      - SONAR_JDBC_USERNAME=${SONARQUBE_DB_USER}
      - SONAR_JDBC_PASSWORD=${SONARQUBE_DB_PASSWORD}
      - SONAR_WEB_JAVAOPTS=-Xmx512m -Xms512m
      - SONAR_SEARCH_JAVAOPTS=-Xmx512m -Xms512m
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarqube.rule=Host(`sonarqube.${DEFAULT_URL}`)"
      - "traefik.http.routers.sonarqube.entrypoints=websecure"
      - "traefik.http.routers.sonarqube.tls=true"
      - "traefik.http.services.sonarqube.loadbalancer.server.port=${SONARQUBE_PORT}"

volumes:
  sonarqube-data-volume:
    # driver: local
    # driver_opts:
    #   o: bind
    #   type: none
    #   device: ${SONARQUBE_DEFAULT_DIR}/data
  sonarqube-logs-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${SONARQUBE_DEFAULT_DIR}/logs

networks:
  infra_net:
    external: true