name: nginx
services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - ${HTTP_HOST_PORT}:${HTTP_PORT}
      - ${HTTPS_HOST_PORT}:${HTTPS_PORT}
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
    networks:
      infra_net:
        ipv4_address: 172.19.0.13
    depends_on:
      minio:
        condition: service_healthy
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          memory: 256M

