name: neo4j

x-tier-label: &tier-label
  hy-home.tier: data

volumes:
  neo4j-volume:

services:
  neo4j:
    extends:
      file: ../../common-optimizations.yml
      service: template-infra-med
    image: neo4j:5.26.19
    container_name: neo4j
    hostname: neo4j
    restart: unless-stopped
    expose:
      - ${NEO4J_BOLT_PORT:-7687}
      - ${NEO4J_HTTP_PORT:-7474}
      - ${NEO4J_HTTPS_PORT:-7473}
    ports:
      - '${NEO4J_BOLT_HOST_PORT:-17687}:${NEO4J_BOLT_PORT:-7687}'
    environment:
      - NEO4J_USERNAME=${NEO4J_USERNAME:-neo4j}
    entrypoint: [/bin/sh, /startup/neo4j-entrypoint-with-secrets.sh]
    volumes:
      - neo4j-volume:/bitnami/neo4j
      - ./scripts/neo4j-entrypoint-with-secrets.sh:/startup/neo4j-entrypoint-with-secrets.sh:ro
    secrets:
      - neo4j_password
    networks:
      - infra_net
    labels:
      <<: *tier-label
      traefik.http.routers.neo4j.rule: Host(`neo4j.${DEFAULT_URL}`)
      traefik.http.routers.neo4j.entrypoints: websecure
      traefik.http.routers.neo4j.tls: 'true'
      traefik.http.services.neo4j.loadbalancer.server.port: ${NEO4J_HTTP_PORT:-7474}
    healthcheck:
      test: ['CMD-SHELL', 'wget -q --spider http://localhost:${NEO4J_HTTP_PORT:-7474} || exit 1']
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 1m

networks:
  infra_net:
    name: infra_net
    external: true

secrets:
  neo4j_password: { external: true }
