name: rabbitmq

x-logging: &default-logging
  driver: 'json-file'
  options:
    max-size: '5m'
    max-file: '2'

services:
  rabbitmq:
    profiles:
      - rabbitmq
    image: rabbitmq:4.2.3-management-alpine
    container_name: rabbitmq
    hostname: rabbitmq
    restart: unless-stopped
    ports:
      - '${RABBITMQ_HOST_PORT}:${RABBITMQ_PORT}'
      - '${RABBITMQ_MANAGEMENT_HOST_PORT}:${RABBITMQ_MANAGEMENT_PORT}'
    environment:
      RABBITMQ_DEFAULT_USER: '${RABBITMQ_DEFAULT_USER}'
      RABBITMQ_DEFAULT_PASS: '${RABBITMQ_DEFAULT_PASS}'
    volumes:
      - rabbitmq-data-volume:/var/lib/rabbitmq
    networks:
      infra_net:
        ipv4_address: 172.19.0.21
    healthcheck:
      test: ['CMD', 'rabbitmq-diagnostics', '-q', 'check_running']
      interval: 15s
      timeout: 15s
      retries: 5
      start_period: 30s
    logging: *default-logging
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          memory: 256M

volumes:
  rabbitmq-data-volume:
    # driver: local
    # driver_opts:
    #   type: none
    #   o: bind
    #   device: "${DEFAULT_RABBITMQ_DATA_DIR}"
