_meta:
  type: "rolesmapping"
  config_version: 2

all_access:
  reserved: false
  backend_roles:
    - "admin"
  users:
    - "admin"

kibana_server:
  reserved: true
  users:
    - "kibanaserver"

readall:
  reserved: false
  backend_roles:
    - "user"
  users:
    - "exporter"
