name: traefik

include:
  - ../../common-optimizations.yml


volumes:
  traefik_certs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DEFAULT_DOCKER_PROJECT_PATH}/secrets/certs

services:
  traefik:
    <<: [*default-restart, *security-baseline, *resource-med]
    image: traefik:v3.6.8

    container_name: traefik
    hostname: traefik
    read_only: true
    tmpfs:
      - /tmp
    ports:
      - ${HTTP_HOST_PORT:-80}:${HTTP_PORT:-80}
      - ${HTTPS_HOST_PORT:-443}:${HTTPS_PORT:-443}
      - ${TRAEFIK_DASHBOARD_HOST_PORT:-8080}:${TRAEFIK_DASHBOARD_PORT:-8080}
      - ${TRAEFIK_METRICS_HOST_PORT:-9100}:${TRAEFIK_METRICS_PORT:-9100}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik_certs:/certs:ro
      - ./dynamic:/dynamic:ro
      - ./config/traefik.yml:/etc/traefik/traefik.yml:ro
    command:
      - '--configFile=/etc/traefik/traefik.yml'
    labels:
      <<: *labels-base
      traefik.enable: 'true'
      hy-home.tier: infra
      traefik.http.routers.dashboard.rule: Host(`dashboard.${DEFAULT_URL}`)
      traefik.http.routers.dashboard.entrypoints: websecure
      traefik.http.routers.dashboard.service: api@internal
      traefik.http.routers.dashboard.tls: 'true'
      traefik.http.routers.dashboard.middlewares: dashboard-auth@file
    healthcheck:
      test: ['CMD', 'traefik', 'healthcheck', '--ping']
      interval: 15s
      timeout: 30s
      retries: 5
      start_period: 30s
    networks:
      infra_net:
        ipv4_address: 172.19.0.13
        aliases:
          - keycloak.${DEFAULT_URL}
          - auth.${DEFAULT_URL}
          - whoami.${DEFAULT_URL}
    secrets:
      - traefik_basicauth_password
      - traefik_opensearch_basicauth_password
    logging: *logging-loki

secrets:
  traefik_basicauth_password:
    external: true
  traefik_opensearch_basicauth_password:
    external: true
