_meta:
  type: 'config'
  config_version: 2

config:
  dynamic:
    http:
      anonymous_auth_enabled: false
      # Trust X-Forwarded-For from internal reverse proxies (Traefik) so logs show real client IP.
      xff:
        enabled: true
    authc:
      basic_internal_auth_domain:
        description: 'Basic internal users'
        http_enabled: true
        transport_enabled: true
        order: 0
        http_authenticator:
          type: basic
          challenge: true
        authentication_backend:
          type: internal
      openid_auth_domain:
        description: 'OpenID Connect (Keycloak)'
        http_enabled: true
        transport_enabled: true
        order: 1
        http_authenticator:
          type: openid
          challenge: false
          config:
            subject_key: preferred_username
            roles_key: groups
            # openid_connect_url: 'https://keycloak.127.0.0.1.nip.io/realms/hy-home.realm/.well-known/openid-configuration'
            openid_connect_url: 'http://keycloak:8080/realms/hy-home.realm/.well-known/openid-configuration'
            pemtrustedcas_filepath: certs/rootCA.pem
        authentication_backend:
          type: noop
    authz:
      roles_from_mybackend:
        description: 'Internal roles'
        http_enabled: true
        transport_enabled: true
        authorization_backend:
          type: internal
    auth_failure_listeners: {}
