services:
  influxdb:
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
        reservations:
          memory: 512M
    image: influxdb:2.7
    container_name: influxdb
    restart: unless-stopped
    hostname: influxdb
    environment:
      - INFLUXDB_DB=${INFLUXDB_DB_NAME}
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_BUCKET}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_API_TOKEN}
    # ports:
    #   - ${INFLUXDB_HOST_PORT}:${INFLUXDB_PORT}
    volumes:
      - influxdb-data:/var/lib/influxdb2:rw
    networks:
      infra_net:
        ipv4_address: 172.19.0.11
    labels:
      - "traefik.enable=true"
      # 도메인: influxdb.${DEFAULT_URL}
      - "traefik.http.routers.influxdb.rule=Host(`influxdb.${DEFAULT_URL}`)"
      - "traefik.http.routers.influxdb.entrypoints=websecure"
      - "traefik.http.routers.influxdb.tls=true"
      - "traefik.http.services.influxdb.loadbalancer.server.port=${INFLUXDB_PORT}"
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"


