services:
  storybook:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "6006:80"
    volumes:
      - ./src:/app/src
      - ./.storybook:/app/.storybook
    environment:
      - NAMESPACE=storybook