x-common:
  security: &security { security_opt: [no-new-privileges:true], cap_drop: [ALL] }
  logging: &logging { driver: 'json-file', options: { max-size: '5m', max-file: '2' } }
  res-low: &res-low { deploy: { resources: { limits: { cpus: '0.2', memory: 128M }, reservations: { memory: 64M } } } }
  res-med: &res-med { deploy: { resources: { limits: { cpus: '0.5', memory: 512M }, reservations: { memory: 256M } } } }
  res-high: &res-high { deploy: { resources: { limits: { cpus: '1.0', memory: 1G }, reservations: { memory: 512M } } } }
  restart: &restart { restart: unless-stopped }
  labels-base: &labels-base { traefik.enable: 'true', hy-home.managed: 'true' }

