tls:
  certificates:
    - certFile: /certs/cert.pem
      keyFile: /certs/key.pem
      stores:
        - default

  stores:
    default:
      defaultCertificate:
        certFile: /certs/cert.pem
        keyFile: /certs/key.pem

http:
  serversTransports:
    # 'opensearch-transport'라는 이름의 규칙 생성
    opensearch-transport:
      serverName: "hy-home.local"  # [핵심] 인증서 검사 시 이 도메인으로 검증하라!
      rootCAs:
        - "/certs/rootCA.pem"      # 검증에 사용할 신뢰하는 뿌리 인증서