services:
  mng-redis:
    image: redis:8.2.3-bookworm # Redis 8.2.x
    container_name: mng-redis
    secrets:
      - redis_password
    networks:
      infra_net:
        ipv4_address: 172.19.0.70
    restart: unless-stopped          
    volumes:
      # 공통 redis.conf
      - mng-redis-data:/data
    command: >
      sh -c '
      redis-server 
      --requirepass "$(cat /run/secrets/redis_password)" 
      --appendonly yes 
      --port 6379
      '
    # 클러스터 내부 통신 포트는 expose
    expose:
      - "${REDIS_PORT}"
      - "${REDIS_BUS_PORT}"        
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "REDIS_PASSWORD=$(cat /run/secrets/redis_password); redis-cli -a $REDIS_PASSWORD -h 127.0.0.1 -p 6379 ping | grep PONG",
        ]
      interval: 10s
      timeout: 3s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"
        
  mng-redis-exporter:
    image: oliver006/redis_exporter:v1.80.0-alpine
    container_name: mng-redis-exporter
    expose:
      - "${REDIS_EXPORTER_PORT}"
    networks:
      infra_net:
        ipv4_address: 172.19.0.71
    restart: unless-stopped
    secrets:
      - redis_password    
    entrypoint:
      - /bin/sh
      - -c
    command:
      - |
        echo "Reading password from secret..."
        export REDIS_PASSWORD=$(cat /run/secrets/redis_password | tr -d '\n')
        
        echo "Starting Redis Exporter..."
        # -redis.password-file 대신 -redis.password 사용
        exec /redis_exporter \
          -redis.addr=redis://mng-redis:6379 \
          -redis.password="$REDIS_PASSWORD" \
          -web.listen-address=:${REDIS_EXPORTER_PORT} 
    depends_on: # healthcheck를 사용하므로 condition으로 변경 (더 안정적)
      mng-redis: { condition: service_healthy }
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"
  
  mng-pg:
    image: postgres:17
    container_name: mng-pg
    restart: unless-stopped          
    networks:
      infra_net:
        ipv4_address: 172.19.0.72
    # set shared memory limit when using docker compose
    shm_size: 256mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: ${PGPASSWORD_SUPERUSER}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_HOST_PORT}:${POSTGRES_PORT}"
    expose:
      - "${POSTGRES_PORT}"
    volumes:
      - mng-pg-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"

  mng-pg-exporter:
    image: prometheuscommunity/postgres-exporter
    container_name: mng-pg-exporter
    restart: unless-stopped          
    networks:
      infra_net:
        ipv4_address: 172.19.0.73
    expose:
      - "${POSTGRES_EXPORTER_PORT}"
    secrets:
      - postgres_password
    depends_on:
      - mng-pg  
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        export PGPASSWORD=$$(cat /run/secrets/postgres_password | tr -d '\n')
        # pg-0에 직접 접속
        export DATA_SOURCE_NAME="postgresql://postgres:$$PGPASSWORD@mng-pg:5432/postgres?sslmode=require"
        exec /bin/postgres_exporter    
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:${POSTGRES_EXPORTER_PORT:-9187}/metrics > /dev/null 2>&1 || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 5