name: nginx
volumes:
  nginx-logs:

x-logging: &default-logging
  driver: 'json-file'
  options:
    max-size: '5m'
    max-file: '2'
services:
  nginx:
    profiles:
      - nginx
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - ${HTTP_HOST_PORT}:${HTTP_PORT}
      - ${HTTPS_HOST_PORT}:${HTTPS_PORT}
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
      - ../../../secrets/certs:/etc/nginx/certs:ro
    networks:
      infra_net:
        ipv4_address: 172.19.0.13
    depends_on:
      minio:
        condition: service_healthy
    healthcheck:
      test: ['CMD-SHELL', 'wget -q --spider http://localhost:${HTTP_PORT} || exit 1']
      interval: 15s
      timeout: 30s
      retries: 5
      start_period: 30s
    logging: *default-logging
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          memory: 256M
