name: oauth2-proxy

x-logging: &default-logging
  driver: 'json-file'
  options:
    max-size: '5m'
    max-file: '2'

x-restart: &default-restart
  restart: unless-stopped

volumes:
  oauth2-proxy-valkey-data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_AUTH_DIR}/valkey

secrets:
  oauth2_valkey_password:
    external: true
  oauth2_proxy_client_secret:
    external: true
  oauth2_proxy_cookie_secret:
    external: true

services:
  oauth2-proxy-valkey:
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
    image: valkey/valkey:9.0.2-alpine # Valkey 9.0.x
    container_name: oauth2-proxy-valkey
    secrets:
      - oauth2_valkey_password
    <<: *default-restart
    networks:
      infra_net:
        ipv4_address: 172.19.0.18
    restart: unless-stopped
    volumes:
      # 공통 valkey.conf
      - oauth2-proxy-valkey-data:/data
    command: >
      sh -c '
      valkey-server
      --requirepass "$(cat /run/secrets/oauth2_valkey_password)"
      --appendonly yes
      --port 6379
      '
    # 클러스터 내부 통신 포트는 expose
    expose:
      - '${VALKEY_PORT}'
      - '${VALKEY_BUS_PORT}'
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'V_PASS=$$(cat /run/secrets/oauth2_valkey_password); valkey-cli -a $$V_PASS -h 127.0.0.1 -p 6379 ping | grep PONG',
        ]
      interval: 15s
      timeout: 30s
      retries: 5
      start_period: 30s
    logging: *default-logging

  oauth2-proxy-valkey-exporter:
    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: 128M
    image: oliver006/redis_exporter:v1.80.1-alpine
    container_name: oauth2-proxy-redis-exporter
    expose:
      - '${VALKEY_EXPORTER_PORT}'
    networks:
      infra_net:
        ipv4_address: 172.19.0.19
    restart: unless-stopped
    secrets:
      - oauth2_valkey_password
    entrypoint:
      - /bin/sh
      - -c
    command:
      - |
        echo "Reading password from secret..."
        export VALKEY_PASSWORD=$(cat /run/secrets/oauth2_valkey_password | tr -d '\n')

        echo "Starting Valkey Exporter..."
        # -redis.password-file 대신 -redis.password 사용
        exec /redis_exporter \
          -redis.addr=redis://oauth2-proxy-valkey:6379 \
          -redis.password="$VALKEY_PASSWORD" \
          -web.listen-address=:${VALKEY_EXPORTER_PORT}
    depends_on: # healthcheck를 사용하므로 condition으로 변경 (더 안정적)
      oauth2-proxy-valkey:
        condition: service_healthy
    logging: *default-logging
