x-tier-label: &tier-label
  hy-home.tier: tooling

volumes:
  sonarqube-data-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_TOOLING_DIR}/sonarqube/data
  sonarqube-logs-volume:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${DEFAULT_TOOLING_DIR}/sonarqube/logs

services:
  sonarqube:
    profiles: ['tooling']
    extends:
      file: ../../common-optimizations.yml
      service: template-infra-high
    image: sonarqube:10.7.0-community # Updated to a more recent stable version
    container_name: sonarqube
    expose:
      - ${SONARQUBE_PORT:-9000}
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'wget -q --spider http://localhost:${SONARQUBE_PORT:-9000}/api/system/health || exit 1',
        ]
      interval: 15s
      timeout: 30s
      retries: 5
      start_period: 30s
    volumes:
      - sonarqube-data-volume:/opt/sonarqube/data
      - sonarqube-logs-volume:/opt/sonarqube/logs
    networks:
      - infra_net
    secrets:
      - sonarqube_db_password
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://${POSTGRES_MNG_HOSTNAME}:${POSTGRES_PORT:-5432}/${SONARQUBE_DBNAME}
      - SONAR_JDBC_USERNAME=${SONARQUBE_DB_USER}
      - SONAR_JDBC_PASSWORD_FILE=/run/secrets/sonarqube_db_password
      - SONAR_WEB_JAVAOPTS=-Xmx512m -Xms512m
      - SONAR_SEARCH_JAVAOPTS=-Xmx512m -Xms512m
    labels:
      <<: *tier-label
      traefik.enable: 'true'
      traefik.http.routers.sonarqube.rule: Host(`sonarqube.${DEFAULT_URL}`)
      traefik.http.routers.sonarqube.entrypoints: websecure
      traefik.http.routers.sonarqube.tls: 'true'
      traefik.http.services.sonarqube.loadbalancer.server.port: ${SONARQUBE_PORT:-9000}
