name: "Close Stale Issues & PRs"

on:
    schedule:
        - cron: "30 1 * * *"

jobs:
    stale:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/stale@v9
              with:
                  stale-issue-message:
                      "이 이슈는 소통이 없어 stale 상태로 표시되었습니다. 7일
                      내에 답변이 없으면 닫힙니다."
                  stale-pr-message:
                      "이 PR은 소통이 없어 stale 상태로 표시되었습니다. 7일 내에
                      답변이 없으면 닫힙니다."
                  days-before-stale: 30
                  days-before-close: 7
                  stale-issue-label: "stale"
                  stale-pr-label: "stale"
