name: seaweedfs


volumes:
  seaweedfs-master-data:
  seaweedfs-volume-data:

services:
  # ----------------------------------------------------------------
  # SeaweedFS (스토리지 클러스터)
  # ----------------------------------------------------------------
  seaweedfs-master:
    extends:
      file: ../../common-optimizations.yml
      service: template-infra-med
    image: chrislusf/seaweedfs:4.05
    container_name: seaweedfs-master
    expose:
      - ${SEAWEEDFS_MASTER_HTTP_PORT:-9333}
      - ${SEAWEEDFS_MASTER_GRPC_PORT:-19333}
    command: '-v=1 master -ip=seaweedfs-master -volumeSizeLimitMB=1024'
    volumes:
      - seaweedfs-master-data:/data
    networks:
      - infra_net
    labels:
      <<: *labels-base
      traefik.enable: 'true'
      traefik.http.routers.seaweedfs-master.rule: Host(`seaweedfs.${DEFAULT_URL}`)
      traefik.http.routers.seaweedfs-master.entrypoints: websecure
      traefik.http.routers.seaweedfs-master.tls: 'true'
      traefik.http.services.seaweedfs-master.loadbalancer.server.port: ${SEAWEEDFS_MASTER_HTTP_PORT:-9333}

  seaweedfs-volume:
    extends:
      file: ../../common-optimizations.yml
      service: template-infra-high
    image: chrislusf/seaweedfs:4.05
    container_name: seaweedfs-volume
    expose:
      - ${SEAWEEDFS_VOLUME_HTTP_PORT:-8085}
      - ${SEAWEEDFS_VOLUME_GRPC_PORT:-18085}
    command: '-v=1 volume -mserver=seaweedfs-master:${SEAWEEDFS_MASTER_HTTP_PORT:-9333} -port=${SEAWEEDFS_VOLUME_HTTP_PORT:-8085} -ip=seaweedfs-volume -preStopSeconds=1 -max=10000'
    volumes:
      - seaweedfs-volume-data:/data
    depends_on:
      seaweedfs-master:
        condition: service_healthy
    networks:
      - infra_net

  seaweedfs-filer:
    extends:
      file: ../../common-optimizations.yml
      service: template-infra-med
    image: chrislusf/seaweedfs:4.05
    container_name: seaweedfs-filer
    expose:
      - ${SEAWEEDFS_FILER_HTTP_PORT:-8888}
      - ${SEAWEEDFS_FILER_GRPC_PORT:-18888}
    command: '-v=1 filer -ip.bind=0.0.0.0 -master=seaweedfs-master:${SEAWEEDFS_MASTER_HTTP_PORT:-9333}'
    depends_on:
      seaweedfs-master:
        condition: service_healthy
      seaweedfs-volume:
        condition: service_healthy
    labels:
      <<: *labels-base
      traefik.enable: 'true'
      traefik.http.routers.cdn.rule: Host(`cdn.${DEFAULT_URL}`)
      traefik.http.routers.cdn.entrypoints: websecure
      traefik.http.routers.cdn.tls: 'true'
      traefik.http.services.cdn.loadbalancer.server.port: ${SEAWEEDFS_FILER_HTTP_PORT:-8888}
    networks:
      - infra_net

  seaweedfs-s3:
    extends:
      file: ../../common-optimizations.yml
      service: template-infra-med
    image: chrislusf/seaweedfs:4.05
    container_name: seaweedfs-s3
    expose:
      - ${SEAWEEDFS_S3_HTTP_PORT:-8333}
    command: '-v=1 s3 -filer=seaweedfs-filer:${SEAWEEDFS_FILER_HTTP_PORT:-8888} -ip.bind=seaweedfs-s3'
    labels:
      <<: *labels-base
      traefik.enable: 'true'
      traefik.http.routers.s3.rule: Host(`s3.${DEFAULT_URL}`)
      traefik.http.routers.s3.entrypoints: websecure
      traefik.http.routers.s3.tls: 'true'
      traefik.http.services.s3.loadbalancer.server.port: ${SEAWEEDFS_S3_HTTP_PORT:-8333}
    depends_on:
      seaweedfs-filer:
        condition: service_healthy
    networks:
      - infra_net

  seaweedfs-mount:
    extends:
      file: ../../common-optimizations.yml
      service: template-infra-high
    image: chrislusf/seaweedfs:4.05
    privileged: true
    cap_add:
      - SYS_ADMIN
    command: '-v=4 mount -filer="seaweedfs-filer:${SEAWEEDFS_FILER_HTTP_PORT:-8888}" -dirAutoCreate -dir=/mnt/seaweedfs -cacheCapacityMB=100 -concurrentWriters=128'
    networks:
      - infra_net
    depends_on:
      seaweedfs-master:
        condition: service_healthy
      seaweedfs-volume:
        condition: service_healthy
      seaweedfs-filer:
        condition: service_healthy

networks:
  infra_net:
    name: infra_net
    external: true
